<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>whtsky.alfred.baidu-x</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E68DA71A-30EB-4F25-A334-78B42FBD781D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E68DA71A-30EB-4F25-A334-78B42FBD781D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2217BF02-AD31-42CB-8173-4E7024A21C94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Wu Haotian</string>
	<key>description</key>
	<string>Workflow that creates a link for www.baidu-x.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>让我帮你百度一下</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bdx</string>
				<key>subtext</key>
				<string>baidu-x "the search to run"</string>
				<key>text</key>
				<string>让我帮你百度一下</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>让我帮你百度一下</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2217BF02-AD31-42CB-8173-4E7024A21C94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string># CONFIGURATION
flag=$LANG

# DO THE MAGIC
QUERY=$(perl -MURI::Escape -e 'print uri_escape("{query}");' "$2")
echo "http://www.baidu-x.com/?q=$QUERY" | pbcopy

# NOTIFICATION
echo "Link copied to clipboard! Go share it!"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E68DA71A-30EB-4F25-A334-78B42FBD781D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Based on https://github.com/jousch/lmgtfy-alfredworkflow</string>
	<key>uidata</key>
	<dict>
		<key>2217BF02-AD31-42CB-8173-4E7024A21C94</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E68DA71A-30EB-4F25-A334-78B42FBD781D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/whtsky/Alfred-BaiduX</string>
</dict>
</plist>
